body{
  margin: 0;
}

#navbar{
  height: auto;
  position: fixed;
  z-index: 10;
  background-color: #020202;
  width: 100%;
  transition: 1s;
  box-shadow: 0 0 2.3vh rgba(0,0,0,0.5);
}

nav{
  width:100%;
  height:auto;
}
nav ul{
  margin-top: 5.1vh;
  margin-right: 5.2vw;
  margin-bottom: 5.1vh;
  margin-left: 5.2vw;
}
nav ul li{
  padding-left: 2.6vw;
  padding-right: 2.6vw;
  font-family: 'Lato',sans-serif;
  font-size: 0.625em;
  font-weight: thin;
  color: #fff;
  list-style: none;
  display: inline-block;
  transition: 0.3s;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li.active a{
  color: #438496;
}

#sign{
  width:12vw;
  height: auto;
  display: none;
  min-width: 100px;
  min-height: auto;
  max-width: auto;
  max-height: 8vh;
  position: fixed;
  top: 2.8%;
  left: 2.6%;
}
#photo{
  width: 75%;
  height: auto;
  display: block;
  margin: auto;
}
#signmain{
  height: auto;
  width:45vw;
  display: block;
  margin: auto;
  padding-top: 10vh;
}
#profession {
  text-align: center;
  font-family: 'Lato',sans-serif;
  font-size: 3vw;
  color: #438496;
  display: block;
  margin: auto;
}
#social{
  position: absolute;
  top: 100%;
  left:50%;
  transform: translate(-50%,-100%);
  margin: 0;
}

#social img{
  width: 5vh;
  height: auto;
  display: inline-block;
  margin-top: 5.1vh;
  margin-right: 1.2vw;
  margin-bottom: 5.1vh;
  margin-left: 1.2vw;
}

@media only screen and (min-width:600px) and (orientation:landscape){
  #navbar{

      height: 9.4vh;
  }
  nav ul li{
    font-size: 1em;
  }
  #sign{
    position: fixed;
    top: 2%;
    left: 2.6%;
    display: inline-block;
  }
  #photo{
    height: 50vh;
    width: auto;
    display: block;
    margin: auto;
  }

  #signmain{
    height: 10vh;
    width:auto;
    display: block;
    margin: auto;
    padding-top: 0;
  }

  #profession {
    text-align: center;
    font-family: 'Lato',sans-serif;
    font-size: 3vw;
    display: block;
    margin: auto;
  }
}

@media all and (min-width:600px) and (orientation:portrait) {
  #navbar{

      height: 6vh;
  }
  nav ul li{
    font-size: 2vh;
  }
  #sign{
    height: 2.5vh;
    width: auto;
    position: fixed;
    top: 1.75vh;
    left: 2.6%;
    display: inline-block;
  }
  #photo{
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
    transform: translate(-1vh,0);
  }

  #signmain{
    height: 8vh;
    width:auto;
    display: block;
    margin: auto;
    padding-top: 0;
  }

  #profession {
    text-align: center;
    font-family: 'Lato',sans-serif;
    font-size: 3vh;
    display: block;
    margin: auto;
  }
  #social img{
    height:2.5vh;
    width: auto;
    margin-right: 2vh;
    margin-left: 2vh;
  }
}

@media only screen and (min-width:768px) and (orientation:landscape) {
  #navbar{

      height: 9.4vh;
  }
  nav ul li{
    font-size: 1em;
  }
  #signmain{
    width: 41%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    background-color: transparent;
    padding-top: 0;
  }

  #photo{
    width: 50%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #020202;
  }

  #profession {
    position: absolute;
    top: 65%;
    left: 67.5%;
    transform: translate(0%, -50%);
  }

  #sign{
    display: inline-block;

  }

}
/*css for home section end*/


/*css for portfolio section start*/

.category{
  display: inline-flex;
  justify-content: center;
  position: absolute;
  padding: 0;
  top: 15%;
  width: 100%;
  height:auto;
  font-family: 'Lato',sans-serif;
  list-style: none;
}

.category li{
    font-size: 4vw;
    font-weight: 100;
    transition: 1.5s ease-in-out;
    padding-left: 3.2vw;
    padding-right: 3.2vw;
    filter: opacity(0.5);
    transition: 1.5s ease-in-out;
}

.category li a{
  text-decoration: none;
}
.category li:nth-child(1) a{
  color: #b37d4e;
}
.category li:nth-child(2) a{
  color: #286da8;
}
.category li:nth-child(3) a{
  color: #CD5360;
}

.category .selected{
  transform: scale(1.5);
  font-weight: 400;
  filter: opacity(1);
}

@media only screen and (min-width:600px){
  .category li{
    font-size: 2.5vw;
  }
}

@media all and (min-width:600px) and (orientation:portrait){
  .category li{
    font-size: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
  }
}

@media only screen and (min-width:768px) and (orientation:landscape){
.category li{
    font-size: 2vw;
  }
}

.carousel div{
  transition: 1.5s ease-in-out;
}

.carousel div:nth-child(1){
  background-color: #286da8;
}
.carousel div:nth-child(2){
  background-color: #CD5360;
}
.carousel div:nth-child(3){
  background-color: #b37d4e;
}

.slide1{
  height: 60%;
  width: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: scale(1);
  transform: translate(-50%,0%);
  box-shadow: 0 0 2.3vw rgba(0,0,0,0.25);
  z-index: 2;
  filter: opacity(1);
}

.slide3{
  height: 60%;
  width: 50%;
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(-50%,0%);
  transform: scale(0.5);
  box-shadow: 0 0 2.3vw rgba(0,0,0,0.25);
  z-index: 0;
  filter: opacity(0.5);
}

.slide2{
  height: 60%;
  width: 50%;
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%,0%);
  transform: scale(0.5);
  box-shadow: 0 0 2.3vw rgba(0,0,0,0.25);
  z-index: 1;
  filter: opacity(0.5);
}

@media all and (min-width:600px) and (orientation:portrait){
  .slide1{
    transform: scale(1.5);
    transform: translate(-50%,0%);
  }
}
